body{
	/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	background-color: #e8eef3;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html{
	scroll-behavior: smooth;
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
a{
    display:block;
    color:black;   
    margin-left:30px; 
    text-transform: capitalize;
    font-size: 1.75rem;
    font-weight: 600;
	text-decoration: none;
}
.container{
	max-width: 1370px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.align-items-center{
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}
/* .main-container{
	
	
} */
/*header*/
.header{
	position: sticky;
	top:0;
	z-index:10;
	line-height: 1.5;
	border-bottom: 2px solid black;
	background-color: white;
	
	
}
/* .header .logo a{
	font-size: 30px;
	font-weight: 200;
	color: black;
	text-transform: capitalize;
} */
 .logo{
	width:300px;
 }
.logo img{
width:300px;
height:60px;
}
.nav{
	width:100%;
	display: flex;
	justify-content: space-between;
}
.header .nav ul li{
	display: inline-block;
	align-items: center;
	margin:10px 0 0 20px;

}
marquee{
	opacity:0.3;
	font-size: 160px;
	background-color: white;
	color: #FF31AB;
	font-weight: 800;
	/* color: color-mix(in srgb, currentColor 50%, transparent); */
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #FF31AB;
}
.moving-text{
	background-color: white;
}

.header .nav ul li a{
	display: block;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-transform: capitalize;
	color: black;
	padding: 10px 5px;
	transition: all 0.1s ease;
}
.header .nav ul li a:hover{
	background-color: black;
	color:white;
}
.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: black;
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: black;
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}
.myself{
	/* background-color:rgba(0, 0, 0, 0); */
	/* opacity:0.4; */
	height:650px;
	width:100%;
	padding: 30px 0px;
    display:flex;
    justify-content: space-evenly;
	background-size: 100%;
	background-size:cover;
	background-repeat: no-repeat;
	
	/* background:linear-gradient(rgba(255, 255, 255, 0.6), rgba(210, 204, 204, 0.6)) 0% 0% / cover, url('../images/background.png') center center no-repeat; */
	/* background-image: url("../images/bckground-image.png"); */
}
.myself::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url("../images/bckground-image.png") no-repeat center center/cover;
	opacity: 0.5; /* Adjust transparency here (0.0 to 1.0) */
	z-index: -1; /* Ensure it stays behind the content */
  }
@media (min-aspect-ratio:16/9) {
	.myself .back-video{
		width:100%;
		height:auto;
	}
}
@media (max-aspect-ratio:16/9) {
	.myself .back-video{
		width:auto;
		height:100%;
	}
}
.dis{
    font-size:2rem;
    font-weight:600;
    color:black;
    display:inline;
	margin: 50px 0px;
}
.dis h2{
	/* text-align: center; */
    font-size:3rem;
    font-weight:700;
    text-align: center;
    color:white;
    text-transform: capitalize;
	font-family:'Times New Roman', Times, serif;
}
.typed{
	text-transform: uppercase;
    font-size:30px;
	font-weight: 700;
	text-align: center;
	color:rgb(238, 180, 63);
}
.dis h1{
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 800;
	margin:10px 0 30px 0;
}
.dis p{

	display: flex;
	margin:30px 0;
	justify-content: center;
	letter-spacing: 1px;

		/* color:rgb(142, 231, 226); */
}

.myimg{
    display:flex;
}

.myimg img{
	background: transparent;
	filter:drop-shadow(0 10px 150px white)

}
@media(max-width:991px){
	.nav-toggler{
		display: block;
	}
	.header .nav{
		width: 100%;
		padding:0;
	 	margin-bottom: 10px;
		max-height: 0px;
		overflow: hidden;
		visibility: hidden;
		transition: all 0.5s ease-in-out;
	}
	.header .nav.open{
		visibility: visible;
	 max-height: 100%;
	 transition: all 0.5s ease-out;
	}
	.header .nav ul{
		padding:12px 15px 0;
		margin-top: 12px;
		border-top:1px solid rgba(255,255,255,0.2);
	}
	.header .nav ul li{
		display: block;
		margin:0;
	}
	.myself .dis h1,p{
	 text-align: center;
 }
 .myself .dis h2{
	 text-align: center;
 }
 .dis{
	margin-top:0;
}
 }
@media(max-width:600px){
	
    .myimg img{
        width:100%;
    }
	.myimg img{
		border-radius: 10px;
	}
	.dis h1{
		font-size: 3rem;
		font-weight: 300;
	}
}
